/* CSS code, add in a separate file or style tag */
/* always applied */
body{
    margin: 0;
    padding: 0;
    background-color: none;
}
.header-bg{
    overflow: hidden;
    margin: 0;
    padding: 0;
}
#social{
    margin: 1% 2%;
}
#social img{
    border-radius: 10px;
}
#social form{
    float: right;
}
#social a:hover, #social img:hover{
    transform: scale(1.2);
}
/* applied after scroll height reached */
.fixed-nav nav {
    margin: 0 auto;
    position: fixed;
    top:0;
    width: 100%;
    background-color: green;
}
/* navigation bar */
nav {
    background-color: green;
    margin-top: 0;
    height: 80px;
    z-index: 21;
}
.logo{
    width: 10%;
    float: left;
}
.logo a{
    text-decoration: none;
}
.logo img{
    width: 70px;
    height: 70px;
    margin: 5% 5%;
    border-radius: 40%;
}
/*styles for logo here*/
.navbar{
    float: right;
    width: 86%;
    text-align: right;
    overflow: hidden;
    margin-top : -15px;
}
.navbar ul li{
    padding: 1%;
    display: inline-block;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    line-height: 20px;
}
.navbar ul li a:hover{
    color: black;
    border-bottom: 2px solid white;
    border-top: 2px solid white;

}
/*content styling*/
.content{
    padding: 0;
    margin:0;
}

.ourProg{
    margin: 0;
    padding: 0
}
.small, .big{
    margin: 1%;
    display: inline-block;
}
.ourProg .big{
    width: 60%;
    border: 1px solid black;
    float: left;
}
.ourProg .small{
    width: 30%;
    border: 1px solid black;
    float: right;
}
/*responsive*/

@media screen and (max-width: 200px) and (min-width: 0px){
    .pictorial{
        height: 210px;
    }
    #still_images{
        height: 210px;
    }
    #still_images img{
        height: 100px;
    }
    .slides img{
        height: 210px;
    }
    .contacts{
        display: block;
        background-color: none;
    }
    #log{
        display: none;
    }
}